# Dedependencies
node_modules/

# Build output
dist/

# Virtual environment for frida
.venv/

# Some frida related things nvm
frida-server/
tools/

# Logcat logs
*.log

# Local things for storing apks, dumps..
data/
dump/
app_process64/

# Nix Flake
.direnv/

