# Dedependencies
/node_modules/

# Build output
/dist/

# Virtual environment for frida
/.venv/

# some frida related things nvm
/frida-server/
/tools/
/BackUpThisFolder_ButDontShipIt

# Logcat logs
*.log

# Local things for storing apks, dumps..
/data/
/dump/
